<!-- Error state -->
<div class="alert alert-info toggle" ng-show="entryProfile.errorMsg">
  <h5>Oops!</h5>
  <p>Looks like an error occurred.</p>
  <code>
    {{entryProfile.errorMsg}}
  </code>
</div>

<!-- Loading state -->
<div ng-show="entryProfile.loading">
  <span class="overlord-loading-spinner fa fa-spinner"></span>
  <span>Loading user data...</span>
</div>

<div ng-hide="entryProfile.loading">

<div ng-hide="loading">
  <div class="col-md-3" ng-hide="entryProfile.noProfile">
    <h1> {{entryProfile.properties.name}}</h1>
    <h1> <a href="mailto:{{entryProfile.properties.email}}">{{entryProfile.properties.email}}</a></h1>
    <h1> {{entryProfile.properties.phone}}</h1>
  <a href="#/entry/edit/{{entryProfile.properties.id}}" class="btn btn-lg btn-warning">Edit</a>
  <a ng-click="deleteEntry()" class="btn btn-lg btn-primary btn-danger">Delete</a>
  </div>
</div>